@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --color-1: #fff;
    --color-2: #000;
    --color-3: rgba(255, 255, 255, 0.219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.background {
    min-height: 670px;
    background-image: url('../img-destination/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*barra de navegação*/

header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav-main {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-logo img {
    width: 40px;
    background-color: var(--color-1);
    border-radius: 100%;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links ul a {
    display: inline-block;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    text-decoration: none;
    color: var(--color-1);
}

.nav-links ul a:hover {
    border-bottom: 2px solid var(--color-1);
}

.underline {
    border-bottom: 2px solid var(--color-1);
}

.mobile-cont {
    display: none;
}

/*---------------------------------------------*/

/*sections*/

section.slider {
    padding-top: 80px;
}

/*slider*/

.slider-cont {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    padding: 5px;
    color: var(--color-1);
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    border-bottom: 2px solid var(--color-1);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navegation-auto div {
    padding: 5px;
    cursor: pointer;
}

.navegation-auto {
    position: absolute;
    width: 100%;
    margin-top: 430px;
    display: flex;
    justify-content: center;
    color: var(--color-1);
}

.navegation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navegation-auto .auto-btn1 {
    border-bottom: 2px solid var(--color-1);
}

#radio2:checked ~ .navegation-auto .auto-btn2 {
    border-bottom: 2px solid var(--color-1);
}

#radio3:checked ~ .navegation-auto .auto-btn3 {
    border-bottom: 2px solid var(--color-1);
}

#radio4:checked ~ .navegation-auto .auto-btn4 {
    border-bottom: 2px solid var(--color-1);
}

/*---------------------------------*/

.slider-card {
    width: 25%;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.slider-img {
    width: 60%;
}

.slider-img img {
    max-width: 60%;
}

.slider-img h2 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 50px;
    color: var(--color-1);
    font-weight: normal;
}

.slider-text {
    width: 50%;
    color: var(--color-1);
}

.slider-text h1 {
    font-size: 68px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.bold {
    font-weight: bold;
}

.slider-p {
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: var(--color-3);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.slider-p p {
    font-size: 14px;
    line-height: 25px;
}

.info-slider {
    display: flex;
    gap: 50px;
}

.info-slider p {
    font-size: 14px;
    margin-bottom: 10px;
}
/*---------------------------------------------*/

/*responsividade*/

@media(max-width: 768px){

    section.slider {
        padding: 120px 0 60px 0;
    }

    .slider-card {
        flex-direction: column;
        overflow: auto;
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 1px;
    }

    .slider-img {
        margin-bottom: 20px;
    }

    .slider-img img {
        max-width: 80%;
    }

    .slider-text h1 {
        font-size: 48px;
    }

    .slider-p p {
        font-size: 12px;
    }

    .info-slider {
        flex-direction: column;
    }

}

/*-----------------------------------------------*/